---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}
<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>
{% endif %}

{% assign talks_count = site.talks | size %}
{% if talks_count == 0 %}
  <section class="no-content">
    <h2>No talks yet</h2>
    <p>There are currently no talks or presentations listed here.</p>
    <p>If you'd like to add talks, create Markdown files in the <code>_talks/</code> folder. Each talk file should include YAML front matter (see the example below).</p>



    <p>After adding the file, commit it to the <code>master</code> (or <code>main</code>) branch and GitHub Pages will rebuild the site automatically. Refresh this page in a few minutes to see the talk listed.</p>
  </section>
{% else %}
  {% for post in site.talks reversed %}
    {% include archive-single-talk.html %}
  {% endfor %}
{% endif %}
